<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoaxshell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
</head>
<!--Login Template-->
<body>
    <div><h3>This is a hoaxshell-flask-frontend</h3></div>
    <div><a href="/login">Login</a></div>
    <div><a href="/traffic">Traffic</a><h>   Opens a wireshark instance to listen to port 8080</h>></div>
    <div><a href="/listener">Listener</a><h>   I dont fucking know anymore</h></div>
</body>

<!-- Path: github_nethq/hoaxshell/hoaxshell-flask-frontend/templates/login.html -->
<!-- Compare this snippet from github_nethq/hoaxshell/hoaxshell-flask-frontend/template/index.html: -->
<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!--     <head> -->
<!--     <meta charset="utf-8"> -->
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--     <title>Hoaxshell</title> -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-B